* {
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  background-image: url(./annie-spratt-yI3weKNBRTc-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
  padding: 10px;
}
